<ion-view view-title="Credentials">
  <ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="right">
	  <h2><i class="ion-android-delete" ng-click="showDelete()" style="margin-left:10px"></i></h2>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">

    <div>
    <div id="data-display">
      <ion-list show-delete="shouldShowDelete">
		  <ion-item class="item-text" ng-repeat="data in storedData track by $index">
			<p>{{data.name}}, {{data.user_name}}</p>
			<ion-delete-button class="ion-minus-circled" ng-click="removeData($index, data.id)"></ion-delete-button>
			<ion-option-button class="button-balanced" ng-click="transData($index, data.id)">Send</ion-option-button>
		  </ion-item>
      </ion-list>
    </div>
    </div>

  </ion-content>
</ion-view>
